.container {
    width: 70%;
    margin: 0% auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    width: calc(100% / 3);
    height: 450px;
    padding: 20px;

    img,
    h3,
    h4 {
        margin-bottom: 10px;
    }
}
