.container {
    width: 70%;
    margin: 0% auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    width: calc(100% / 3);
    height: 450px;
    padding: 20px;
    color: whitesmoke;
    margin-bottom: 30px;

    img,
    h3,
    h4 {
        margin-bottom: 10px;
    }

    img {
        width: 192px;
        height: 291px;
    }

    a {
        button {
            border-radius: 15px;
            padding: 10px 20px;
            color: whitesmoke;
            background-color: #0179f4;
        }
    }
}
