.container {
    width: 70%;
    margin: 0% auto;
    display: flex;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    width: calc(100% / 3);
    height: 450px;
    padding: 20px;
    color: whitesmoke;
    margin-bottom: 30px;

    img,
    h3,
    h4 {
        margin-bottom: 10px;
    }

    img {
        width: 192px;
        height: 291px;
    }
}

.detail-button {
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    border: 1px #03e9f4;
    background-color: rgba(0, 0, 0, .6);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px
}

.detail-button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}
